.profile{
    width: 80%;
    height: 100%;
    border-radius: 50%;
}

.profile:hover{
    width: 85%;
}

.Introduction{
    margin-top: 24%;
}

h3.topic{
    border-bottom:1px lightgray solid;
    border-top: 1px lightgray solid;
    padding: 5px;
    background-image: linear-gradient(to right, lightgray, gray);
}

h1, h3, p{
    margin: 2%;
    border: 0;
}

ul.interest li{
    margin-left: 5%;
}

form{
    text-align: left;
}

form{
    margin-top: 26px;
    margin-left: 26px;
}

form div{
    padding: 2px;
}


.boxinput{
    border: 1px lightblue solid;
    padding: 5px;
}

.boxinput:focus{
    border: 1px blue dotted;
    background-color: lightgray;
}

.field1{
    position: relative;
    left: 50px;
}

.field2{
    position: relative;
    left: 50px;
}

.field3{
    position: relative;
    left: 35px;
}

.field4{
    position: relative;
    left: 85px;
}

.field5{
    position: relative;
    left: 60px;
}

.field6{
    position: relative;
    left: 22.65px;
}

.field7{
    position: relative;
    left: 56px;
}

.field8{
    position: relative;
    left: 50px;
}

.field9{
    width: 100%;
}

input[type="submit"]{
    width: 178px;
    height: 40px;   
    background-color: lightgray;
    border-radius: 50%;
    margin-left: 25%;
}

ul li.category{
    margin: 0;
    padding: 0;
}