*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

nav{
     background-color: black;
     height: 80px;
     width: 100%;
}

label a.main{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

a:hover{
    background:brown;
    transition: .5s;
    font-weight: bold;
}