*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, lightgray, gray);
}

.large_box{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    flex-wrap: wrap;
}

 .flag_one:hover, .flag_two:hover{
    transform: scale(1.2);
} 

.flag_one{
    min-width: 400px;
    height: 180px;
}

.flag_two{
    min-width: 400px;
    height: 180px;
}




/* Ethiopian flag */
.ethio_green{
    height: 60px;
    width: 100%;
    background-color: green;
}

.ethio_yellow{
    height: 60px;
    width: 100%;
    background-color: yellow;
}

.ethio_red{
    height:60px;
    width: 100%;
    background-color: red;
}

.ethio_emblem{
    position: relative;
    width: 80px;
    bottom: 130px;
    left: 150px;
}

/* Ertrea flag */
.ert_green{
    height: 90px;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%);
    transform: skewY();
}

.ert_red{
    height: 90px;
    width: 100%;
    background-color: #BC1D00;
    clip-path: polygon(100% 100%, 0 100%,0 100%, 0 0);
    position: relative;
    bottom: 90px;
}

.ert_red1{
    height: 90px;
    width: 100%;
    background-color: #BC1D00;
    clip-path: polygon(0 100%, 100% 0, 100% 0, 0 0);
    position: relative;
    bottom:90px;
}

.ert_blue{
    height: 90px;
    width: 100%;
    background-color: blue;
    clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 0);
    position: relative;
    bottom: 180px;
}

.ertrea_emblem{
    position: relative;
    width: 100px;
    bottom: 320px;
    right: 0px;
}

/* Botswana's flag */
.bots_blue{
    height:100%;
    width: 100%;
    background-color: #6AA4CC;
}

.bots_white1{
    height: 4%;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 120px;
}

.bots_black{
    height: 20%;
    width: 100%;
    background-color: black;
    position: relative;
    bottom: 119.5px;
}

.bots_white2{
    height: 4%;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 118px;
}

/* Cote 'di 'vuar */
.cots_orange{
    height:100%;
    width: 33.3%;
    background-color: #F07C00;
    float: left;
}

.cots_white{
    height: 100%;
    width: 33.3%;
    background-color: #F8F8F8;
    float:left;
}

.cots_green{
    height: 100%;
    width: 33.4%;
    background-color: #009A5D;
    float:right;
}

/* netherlands flag*/
.net_red{
    height:33%;
    width: 100%;
    background-color: #A91B27;
}

.net_white{
    height: 33%;
    width: 100%;
    background-color: #F8F8F8;
}

.net_blue{
    height: 33%;
    width: 100%;
    background-color: #204487;
}

/* belgium flag */
.belgi_black{
    height:100%;
    width: 33.3%;
    background-color: #000000;
    float: left;
}

.belgi_yellow{
    height: 100%;
    width: 33.3%;
    background-color: #F3DA40;
    float:left;
}

.belgi_red{
    height: 100%;
    width: 33.4%;
    background-color: #E72837;
    float:right;
}

/* sweden flag */
.swed_blue{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.swed_yellow1{
    background-color: yellow;
    position: relative;
    bottom: 120px;
    width: 100%;
    height: 14.5106%;
}

.swed_yellow2{
    background-color: yellow;
    width: 7.246%;
    height: 100%;
    position: relative;
    bottom: 206px;
    left: 100px;
}

/* bosinia & heguslovinia */
.bh_blue{
    background-color: #002291;
    width: 100%;
    height: 100%;
}

.bh_stars{
    transform: skewY(45deg);
    position: relative;
    bottom: -10px;
    left: 100px;
}

.bh_yellow{
    background-color: #F7C500;
    position: relative;
    height: 100%;
    width: 50%;
    bottom: 201px;
    left: 109px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%);
}

/* japan flag */
.jap_white{
    width: 100%;
    height: 100%;
    background-color: white;
}

.jap_red{
    width: 25%;
    height: 45%;
    background-color: red;
    border-radius: 50%;
    position: relative;
    bottom: 130px;
    left: 144.5px;
}

/* chile */
.chile_blue{
    width: 25%;
    height: 50%;
    background-color: blue;
    float: left;
}

.chile_white{
    width: 75%;
    height: 50%;
    float: right;
    background-color: white;
} 

.chile_red{
    width: 100%;
    height: 50%;
    background-color: red;
    position: relative;
    bottom: 22px;
}

.chile_star{
    position: relative;
    bottom: 60px;
    left: 40px;
}

/* costa rica */
.costa_red1{
    width: 100%;
    height: 20%;
    background-color: red;
}
.costa_white1{
    width: 100%;
    height: 20%;
    background-color: white;
}

.costa_red2{
    width: 100%;
    height: 20%;
    background-color: red;
}
.costa_white2{
    width: 100%;
    height: 20%;
    background-color: white;
}

.costa_red3{
    width: 100%;
    height: 20%;
    background-color: red;
}

.costa_blue1{
    position: relative;
    width: 40%;
    height: 50%;
    bottom: 178px;
    background-color: blue;
    clip-path: polygon(100% 100%, 0 100%,0 100%, 0 0);
}

.costa_blue2{
    position: relative;
    width: 40%;
    height: 50%;
    bottom: 178px;
    background-color: blue;
    clip-path: polygon(0 100%, 100% 0, 100% 0, 0 0);
}

.costa_rica{
    position: relative;
    left: 50px;
    bottom: 280px;
}

/* uruagay flag*/
.uru_white{
    width: 25%;
    height: 62.5%;
    background-color: white;
    float: left;
}

.uru_white1{
    width: 75%;
    height: 12.5%;
    background-color: white;
    float: right;
}
.uru_blue1{
    width: 75%;
    height: 12.5%;
    background-color: blue;
    float: right;
}
.uru_white2{
    width: 75%;
    height: 12.5%;
    background-color: white;
    float: right;
}
.uru_blue2{
    width: 75%;
    height: 12.5%;
    background-color: blue;
    float: right;
}
.uru_white3{
    width: 75%;
    height: 12.5%;
    background-color: white;
    float: right;
}

.uru_blue3{
    width: 100%;
    height: 12.5%;
    background-color: blue;
    float: right;
}

.uru_white4{
    width: 100%;
    height: 12.5%;
    background-color: white;
    float: right;
}

.uru_blue4{
    width: 100%;
    height: 12.5%;
    background-color: blue;
    float: right;
}

.uru_emblem{
    width: 17.5%;
    height: 17.5%;
    position: relative;
    bottom: 160px;
    left: 14.246px;
}


h2{
    text-align: center;
    margin: 25px;
}

h4{
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px){
    .flag_one{
        margin: 30px;
    }

}

